<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost/</property><!-- :hsql://localhost -->
		<property name="hibernate.connection.username">SA</property>
		<property name="hibernate.connection.password"></property>
<!-- 		<property name="hibernate.default_schema">bookstore</property> -->
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">create-drop</property>
		
		<!-- Mapping des classe -->
		<mapping class="net.yvesrocher.training.frameworks.dto.model.Book" />
		<mapping class="net.yvesrocher.training.frameworks.dto.model.Author" />
		<mapping class="net.yvesrocher.training.frameworks.dto.model.BookCopy" />
		<mapping class="net.yvesrocher.training.frameworks.dto.model.BookStore" />
		<mapping class="net.yvesrocher.training.frameworks.dto.model.Customer" />
		
	</session-factory>
</hibernate-configuration>
